# ============================================
# Variables de entorno para Docker
# Copiar este archivo como .env y configurar los valores
# ============================================

# Base de datos PostgreSQL
# Para Docker: usar "db" como host (nombre del servicio)
# Para local: usar "localhost"
DATABASE_URL="postgresql://postgres:quimiXkjUZYKmPlDIgembpQFkpjpXxzr@metro.proxy.rlwy.net:12161/railway"

JWT_SECRET="TU_SECRETO_JWT"

# Puerto que usará Next.js en desarrollo (opcional: por defecto 3000)
PORT=3000
# Email (Gmail)
EMAIL_USER="haloperseus@gmail.com"
EMAIL_PASSWORD="bpvt lelt jukt iaie"
# Gmail SMTP
GMAIL_USER="perodrigoalonso@gmail.com"
GMAIL_APP_PASSWORD="bpvt lelt jukt iaie"
# SMS (Twilio)
TWILIO_ACCOUNT_SID="AC03d100726c8f17411bb90eb02ef11513"
TWILIO_AUTH_TOKEN="19071be9a8fa95e2eea9fc521f106860"  # Del dashboard de Twilio
TWILIO_MESSAGING_SERVICE_SID="MG859bedc5a8dbc9738b6d7f1ff7d9691b"
TWILIO_PHONE_NUMBER="+17657059154"

SMSCHEF_API_KEY=42238955e1d218ce8baae9d106f2c8ea63a24658
SMSCHEF_SENDER_ID=COLEGIO